<select id="date_selector">
  <option value="0">-Select a date-</option>
  <option value="1">April 1, 2010 Census population</option>
  <option value="2">April 1, 2010 population estimates base</option>
  <option value="3">July 1, 2010 population estimate</option>
  <option value="4">July 1, 2011 population estimate</option>
  <option value="5">July 1, 2012 population estimate</option>
  <option value="6">July 1, 2013 population estimate</option>
  <option value="7">July 1, 2014 population estimate</option>
</select>