<select id="params_selector">
  <option value="">-Select a parameter-</option>
  <option value="pop">Population</option>
  <option value="births">Births</option>
  <option value="deaths">Deaths</option>
</select>