<select id="api_selector">
  <option value="">-Select an API-</option>
  <option value="01">2013 Population Estimates</option>
  <option value="02">2012 Population Projections</option>
  <option value="04">Arizona</option>
  <option value="05">Arkansas</option>
</select>