<select id="race_selector">
  <option value="">-Select a race-</option>
  <option value="01">White</option>
  <option value="02">Black</option>
  <option value="04">American Indian and Alaska Native</option>
  <option value="05">Asian</option>
  <option value="05">Native Hawaiian and Pacific Islander</option>
</select>
