<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sense Us
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
      <p class="navbar-text navbar-right">
        Signed in as <%= current_user.user_name %>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div id="todo">
  <div class="toolbox">
    <div class="input-group add_todo_form">
      <input type="text" class="form-control" name="todo" placeholder="New todo item...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add Note</button>
      </span>
    </div>
  </div>


</div>

<div id="results">
<select id="state_selector">
  <option value="01">Alabama</option>
  <option value="02">Alaska</option>
  <option value="04">Arizona</option>
  <option value="05">Arkansas</option>
  <option value="06">California</option>
  <option value="08">Colorado</option>
  <option value="09">Connecticut</option>
  <option value="10">Delaware</option>
  <option value="11">District Of Columbia</option>
  <option value="12">Florida</option>
  <option value="13">Georgia</option>
  <option value="">Hawaii</option>
  <option value="">Idaho</option>
  <option value="">Illinois</option>
  <option value="15">Indiana</option>
  <option value="16">Iowa</option>
  <option value="17">Kansas</option>
  <option value="18">Kentucky</option>
  <option value="19">Louisiana</option>
  <option value="20">Maine</option>
  <option value="21">Maryland</option>
  <option value="22">Massachusetts</option>
  <option value="23">Michigan</option>
  <option value="24">Minnesota</option>
  <option value="25">Mississippi</option>
  <option value="26">Missouri</option>
  <option value="27">Montana</option>
  <option value="28">Nebraska</option>
  <option value="29">Nevada</option>
  <option value="30">New Hampshire</option>
  <option value="31">New Jersey</option>
  <option value="32">New Mexico</option>
  <option value="33">New York</option>
  <option value="34">North Carolina</option>
  <option value="35">North Dakota</option>
  <option value="36">Ohio</option>
  <option value="37">Oklahoma</option>
  <option value="38">Oregon</option>
  <option value="39">Pennsylvania</option>
  <option value="40">Rhode Island</option>
  <option value="41">South Carolina</option>
  <option value="42">South Dakota</option>
  <option value="">Tennessee</option>
  <option value="44">Texas</option>
  <option value="45">Utah</option>
  <option value="46">Vermont</option>
  <option value="47">Virginia</option>
  <option value="48">Washington</option>
  <option value="49">West Virginia</option>
  <option value="50">Wisconsin</option>
  <option value="51">Wyoming</option>
</select>


  <h3>State population</h3>
  <p></p>
</div>

<div id="map1">
  <iframe src="http://createaclickablemap.com/map.php?&id=35781&online=true" width="900" height="525" style="border: none;"></iframe>
</div>


<script>

</script>